{% include 'layout-top.html' %}
<div class="content-wrapper" id="jmp_apply_app">
    {% include 'page-nav.html' %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{data.card_title}}</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" id="form_id">
                <input type="hidden" id="oper" name="oper" value="{{data.oper}}">
                <input type="hidden" id="asset_list" name="asset_list" value="">
                <input type="hidden" id="sys_user_list" name="sys_user_list" value="">
                <div class="card-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-3">
                      <label for="reason">申请人</label>
                      <input type="text" class="form-control" value="{{data.order.req_user}}" disabled="disabled" width="100%" >
                    </div>
                    <div class="col-md-3">
                      <label for="reason">组</label>
                      <input type="text" class="form-control" value="{{data.order.depart_name}}" disabled="disabled" width="100%">
                    </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="reason">申请原因</label>
                    <input type="text" class="form-control" id="reason" name="reason" placeholder="请填写申请跳板机权限的原因" value="{{data.order.reason}}" {%if data.is_disable%}disabled="disabled"{%endif%}>
                  </div>

                  <div class="form-group">
                      <label for="assets">需要登录的机器</label>
                      <select id="assets" class="js-example-basic-multiple js-states form-control" multiple="multiple" style="width: 100%" {%if data.is_disable%}disabled="disabled"{%endif%}>
                        {% for asset_item in data.order.asset_list %}}
                        <option value="{{asset_item.id}}" hostname="{{asset_item.hostname}}" ip="{{asset_item.ip}}" text="{{asset_item.hostname}}({{asset_item.ip}})" {%if data.is_disable%}selected{%endif%}>{{asset_item.hostname}}({{asset_item.ip}})</option>
                        {%endfor%}

                      </select>
                  </div>

                  <div class="form-group">
                    <label for="sys_users">系统用户</label>
                    <select id="sys_users" class="js-example-basic-multiple js-states form-control" multiple="multiple" style="width: 100%" {%if data.is_disable%}disabled="disabled"{%endif%}>

                        {%if data.is_disable %}

                        {%for sysUser in data.order.sys_user_list %}
                          {%if sysUser.sys_user_name != 'Server_app' %}
                          <option value="{{sysUser.id}}" disabled="disabled">{{sysUser.sys_user_name}}</option>
                          {%else%}
                          <option value="{{sysUser.id}}"  sys_user_name="{{sysUser.sys_user_name}}" selected>{{sysUser.sys_user_name}}</option>
                          {%endif%}
                        {%endfor%}

                        {%else%}

                        {%for sysUser in data.order.sys_user_list %}
                          {%if sysUser.name != 'Server_app' %}
                          <option value="{{sysUser.id}}" disabled="disabled">{{sysUser.name}}</option>
                          {%else%}
                          <option value="{{sysUser.id}}"  sys_user_name="{{sysUser.name}}" selected>{{sysUser.name}}</option>
                          {%endif%}
                        {%endfor%}

                        {%endif%}

                    </select>
                  </div>

                  <div class="form-group">
                    <label for="days">有效期限</label>
                    <select id="days" name="days" class="form-control" style="width: 100%" {%if data.is_disable%} disabled="disabled" {%endif%}>
                      <option value="1" {%if data.order.days == 1%} selected {%endif%}>1天</option>
                      <option value="2" {%if data.order.days == 2%} selected {%endif%}>2天</option>
                      <option value="3" {%if data.order.days == 3%} selected {%endif%}>3天</option>
                      <option value="4" {%if data.order.days == 4%} selected {%endif%}>4天</option>
                      <option value="5" {%if data.order.days == 5%} selected {%endif%}>5天</option>
                      <option value="6" {%if data.order.days == 6%} selected {%endif%}>6天</option>
                      <option value="7" {%if data.order.days == 7%} selected {%endif%}>7天</option>
                    </select>

                  </div>

                </div>
                <div class="card-footer">
                  {%if data.is_disable %}
                  <a class="btn btn-primary" v-on:click="click_agree_btn('{{data.order.id}}')">同意</a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <a class="btn btn-danger" v-on:click="click_reject_btn('{{data.order.id}}')">拒绝</a>
                  {%else%}
                  <a class="btn btn-primary" v-on:click="click_submit_btn" href="#">提交申请</a>
                  {%endif%}
                </div>
              </form>
            </div>
            <!-- /.card -->

            <!--
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Different Width</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <input type="text" class="form-control" placeholder=".col-3">
                  </div>
                  <div class="col-4">
                    <input type="text" class="form-control" placeholder=".col-4">
                  </div>
                  <div class="col-5">
                    <input type="text" class="form-control" placeholder=".col-5">
                  </div>
                </div>
              </div>

            </div>
            -->
          </div>
        </div>
      </div>
    </section>
</div>
{% include 'layout-bottom.html' %}
