{% include 'layout-top.html' %}
<div class="content-wrapper">
  {% include 'page-nav.html' %}
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"></h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body" id="my_apply_app">
            <table id="my_apply_table"
                   data-toggle="table"
                   data-search="true"
                   data-show-columns="true"
                   data-sortable="true"
                   data-locale="zh-CN"
                   data-sort-order="desc"
                   data-pagination="true"
                   data-pagination-first-text="首页"
                   data-pagination-pre-text="上一页"
                   data-pagination-next-text="下一页"
                   data-pagination-last-text="末页"
                   data-page-size="20"
                   data-visible-search="true"
                   data-sort-name="id"
                   data-sort-order="desc"
                   data-page-list="[25,50,200]"
                   class="table-bordered table-hover" >
              <thead>
              <tr>
                <th data-field="id" data-sortable="true">ID</th>
                <th data-field="req_user" data-sortable="true" data-switchable="false">申请人</th>
                <th data-field="depart_name" data-sortable="true">组</th>
                <th data-field="create_time" data-sortable="true">申请时间</th>
                <th data-field="reason" data-sortable="true">申请原因</th>
                <th data-field="asset_list" data-sortable="true" data-switchable="false">资产</th>
                <th data-field="sys_user_list" data-sortable="true">系统用户</th>
                <th data-field="days" data-sortable="true">有效期限</th>
                <th data-field="display_status_zh" data-sortable="true" data-switchable="false">状态</th>
                <th data-field="approval_user" data-sortable="true">审批人</th>
                <th data-field="approval_time" data-sortable="true">审批时间</th>

                {%if data.show_oper %}
                <!--管理员权限-->
                <th data-field="auth_rule_name" data-sortable="true" data-visible="false">对应的授权规则</th>
                <th data-field="auth_rule_uuid" data-sortable="true" data-visible="false">对应的授权规则UUID</th>
                <th data-field="auth_rule_range" data-sortable="true" data-visible="false">有效期限</th>
                <th>操作</th>
                {%endif%}
              </tr>
              </thead>
              <tbody>

              {%for order in data.order_list%}
              <tr>
                <td>{{order.id}}</td>
                <td>{{order.req_user}}</td>
                <td>{{order.depart_name}}</td>
                <td>{{order.create_time}}</td>
                <td
                  id="orderTdId_{{order.id}}"
                  onmouseenter="mouseenter_on_td(`orderTdId_{{order.id}}`)"
                  onmouseleave="mouseleave_on_td(`orderTdId_{{order.id}}`)"
                  full="{{order.reason}}"
                  short="{{order.display_short_reason}}"
                >{{order.display_short_reason}}
                </td>
                <td>{{order.display_asset_list}}</td>
                <td>{{order.display_sys_user_list}}</td>
                <td>{{order.days}} 天</td>
                <td>{{order.display_order_status_zh}}</td>
                <td>{{order.approval_user}}</td>
                <td>
                  {%if order.approval_time != None%}
                  {{order.approval_time}}
                  {%else%}
                  {%endif%}
                </td>

                {%if data.show_oper %}
                <td>{{order.auth_rule_name}}</td>
                <td>{{order.auth_rule_uuid}}</td>
                <td>{{order.auth_rule_stime}} --- {{order.auth_rule_etime}}</td>
                <td>
                  {%if order.order_status == 0 %}
                  <a class="btn btn-primary btn-sm" href="/jmp_apply/approval_view?order_id={{order.id}}">审批</a>
                  {%endif%}
                  <a class="btn btn-danger btn-sm" onclick="click_order('{{order.id}}')">删除</a>
                </td>
                {%endif%}

              </tr>
              {%endfor%}

              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </section>
</div>
{% include 'layout-bottom.html' %}
